<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utilisateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <th:block th:insert="fragments/css :: css"></th:block>
    <th:block th:insert="fragments/js :: js2"></th:block>
</head>
<body>
<div class="page-container">
    <div class="left-content">
        <div class="mother-grid-inner">
            <th:block th:insert="fragments/header2 :: header"></th:block>
            <!--inner block start here-->
            <div class="inner-block">
                <div class="chit-chat-layer1">
                    <div class="col-md-12 pb-5 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="chit-chat-heading">
                                Utilisateurs
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Active</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.id}">1</td>
                                        <td th:text="${user.email}">Face book</td>
                                        <td th:text="${user.role.toString()}"></td>
                                        <td th:text="${user.enabled}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:insert="fragments/footer :: footer"></th:block>
        </div>
    </div>
    <th:block th:insert="fragments/menu2 :: menu"></th:block>
</div>
<th:block th:insert="fragments/js :: js"></th:block>
</body>
</html>                     